*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body,
html,
#map {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
}

.marker-position {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding: 10px;
  font-weight: 700;
  background-color: #fff;
}

.title-position {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 999;
  padding: 10px;
  font-weight: bold;
  background-color: #fff;
}
.legend-box {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.legend-item {
  background-color: white;
  padding: 5px;
  margin: 1px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.legend-color {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid #ccc; /* Add a border for better visibility */
}

.legend-label {
  font-size: 14px;
}